html,body{
    max-width: 100%;
    /* font-family: 'Inter', sans-serif; */
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
.container{
    padding: 120px;
    width: 100vw;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

.item0{
    font-weight: bolder;
    font-size: 40px;
    padding-left: 150px;
    padding-top: 20px;
    background-color: white;
    width: 100vw;
    height: 80px;
    box-shadow: 0px 3px 30px #7B7B7B29;
}
.item{
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    /* font: normal normal medium 24px Inter; */
    text-align: justify;
    font-family: inter;
    line-height:70px;
    font-size: 24px;
    margin: 20px;
    background-color: white;
    height: 360px;
    width: 340px;
}
button{
    background-color:#F7F7F7 ;
    border: none;
}
hr{
    border: lightgrey solid 1px;
    background-color: #C2C2C2;
    height: 0px;
}
.icon{
    position: relative;
    /* background-color: gray; */
    text-decoration: none;
    position: absolute;
    top: 140px;
    right: 550px;
    font-size: 20px;
}
i{
    
    color:#00A5EC ;
    font-size: 40px;
}
.add{
    color: black;
    height: 30px;
    width: 150px;
    position: absolute;
    top: 10px;
}

input:checked + label {
    text-align: center;
    text-decoration: line-through;
    color: #C2C2C2;
}
input[type=checkbox]{
    height: 35px;
    width: 35px;

}
.item:hover {
    box-shadow: 6px 6px 10px 10px  lightgrey;;
}
.item2:hover {
    box-shadow: 6px 6px 10px 10px  lightgrey;;
}

.icon2{
    position: relative;
    /* background-color: gray; */
    text-decoration: none;
    position: absolute;
    top: 150px;
    left: 800px;
    font-size: 20px;
}
.item2{
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    /* font: normal normal medium 24px Inter; */
    text-align: justify;
    font-family: inter;
    line-height:70px;
    font-size: 24px;
    margin-left: 400px; 
    background-color: white;
    height: 360px;
    width: 450px;
}
.blur{
    filter:brightness(50%) blur(5px) ;
}
.fixed{
    position: absolute;
    top: 270px;
    left: 500px;
    background-color: white;
    height: 200px;
    width: 350px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
}
.f1{
    font: normal 24px Inter;
    position: absolute;
    top: 10px;
    left: 10px;
}
.f2{
    position: absolute;
    top: 10px;
    right: 15px;
}
.f3{
    background-color: gray;
    height: 1px;
    position: absolute;
    width: 350px;
    top: 50px;
}
.f4{
    padding-left: 20px;
    background-color: #F7F7F7;
    position: absolute;
    top: 90px;
    left: 15px;
    height: 25px;
    width: 300px;
    color: #858585;;
    border: 2px solid #EDEDED;
}
.f5{
    color: white;
    background-color: #00A5EC;
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 30px;
    width: 80px;
    border-radius: 4px;
    padding: 2px;
    text-align: justify;
    font:  normal 18px Inter;
}
.fa-circle-arrow-left{
    color: black;
}
.fa-xmark{
    color: gray;
}
.back{
    color: black;
    text-decoration: none;
    position: absolute;
    top: 150px;
    left: 550px;
    font-size: xx-large;
}
@media (max-width:600px) and (min-width:320px){
body{
    margin: 0px;
    min-height: 100vh;
    width: 100vw ;
    overflow-x: hidden;
}
.container{
    margin: 0px;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
}
.item0{
    padding-left: 30px;
    margin: 0px;
    margin-right: 0px;
    width: 570px;
}
/* .item{
    font-size: 20px;
    margin-left: 20px;
    width: 260px;
} */
.add{
    display: none;
}
.icon{
    top: 140px;
    left: 160px;
}
.fixed{
    top: 100px;
    left: 10px;
}
.f5{
    height: 50px;
    width: 50px;
}
.item2{
    margin: 0;
    margin-right: 0px;
    margin-left: 40px; 
    width: 300px;
}
.back{
    margin-right: 0px;
    left: 50px;
    color: #F7F7F7;
}
.icon2{
    margin: 0px;
    top: 150px;
    left: 150px;
}
.container2{
    margin: 0px;
    width: 250px;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
}
button{
    margin: 0px;
    padding: 0px;
}
}
@media (max-width:1200px) and (min-width:600px){
    .fixed{
        top: 200px;
        left: 200px;
        width: 400px;
        height: 300px;
    }
    .item2{
        margin-left: 100px;
    }
    .back{
        left: 250px;
        color: #F7F7F7;
    }
    .icon2{
        left: 500px;
    }
    .add{
        display: none;
    }
}